In [11]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

os.chdir("/Users/macbookpro/Desktop/Data Science Projects/Financial forecasting")

In [12]:
data = pd.read_csv("1. Data Source/financial_forecasting_dataset.csv")
data.head()

,Date,Ticker,Open,High,Low,Close,Volume,GDP (%),Inflation (%),Interest Rate (%),Unemployment (%),Market Stress Level,Event Flag
0,2020-01-01,AAPL,215.19,215.61,213.25,213.62,13046059,2.14,2.30,1.35,3.58,0.26,0
1,2020-01-02,AAPL,216.79,221.37,215.51,217.65,8515186,2.73,1.93,1.52,2.86,0.18,0
2,2020-01-03,AAPL,209.71,210.58,207.90,208.23,13704556,1.73,2.00,1.44,4.31,0.06,0
3,2020-01-04,AAPL,213.80,216.45,210.78,212.32,6833411,1.77,2.32,1.59,2.59,0.35,0
4,2020-01-05,AAPL,209.33,211.16,206.23,210.03,11862560,1.90,1.81,1.12,4.88,0.27,0